@import "../../styles//Variables.scss";

.presentation-container {
  margin: 80px 100px;
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.presentation-secondary {
  margin: 0;
  font-weight: 100;
}
