$main-background-color: #170533;
$main-text-color: #dfdfdf;

$alternate-background-color: #ffec4f;
$dark-grey-text-color: #363634;

// Social media colors
$linkedin: #0e76a8;
$linkedin-hover: #3684a8;
$github: #5c5c5b;
$github-hover: rgb(105, 105, 104);
$instagram: #f56040;
$instagram-hover: #f38d76;
