@import "../../styles/Variables.scss";

.pill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey-text-color;
  color: white;
  font-size: 0.7rem;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 5px;
  p {
    margin: 0;
  }
}
