@import "../../styles/Variables.scss";
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img {
  position: relative;
  margin: 20px;
  border: 1px solid rgb(194, 191, 191);
  height: 300px;
  width: 600px;
  img {
    height: 100%;
    width: 100%;
  }
}

.card-content {
  opacity: 0;
  color: $main-text-color;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 20px;
  z-index: 9999;
  background-color: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(2px);
  .card-description {
    max-width: 50ch;
    font-size: 0.8rem;
  }
  .card-tech {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
  }
  a {
    text-decoration: none;
    margin-right: 10px;
    color: $instagram;
  }
  &:hover {
    transition: 0.3s;
    opacity: 1;
  }
}

@media only screen and (max-width: 750px) {
  .card-img {
    width: 450px;
    height: 250px;
  }
  .card-content {
    width: 450px;
    height: 250px;
  }
  .card-description {
    margin: 0;
    font-size: 0.8rem;
  }
  a {
    font-size: 0.8rem;
  }
  h4 {
    margin: 0;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  .card-img {
    width: 320px;
    height: 200px;
  }
  .card-content {
    padding: 10px;
    width: 320px;
    height: 200px;
  }
}
