@import "../../styles//Variables.scss";

.socialmediabar-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.linkedin-icon {
  margin-left: 20px;
  color: $linkedin;
  font-size: 2rem;
  transform: scale(1.5);
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    color: $linkedin-hover;
    transform: rotate(10deg) scale(2);
  }
}

.github-icon {
  margin-left: 20px;
  color: $github;
  font-size: 2rem;
  transform: scale(1.5);
  &:hover {
    transition: 0.3s;
    color: $github-hover;
    transform: rotate(10deg) scale(2);
  }
}

.instagram-icon {
  margin-left: 20px;
  color: $instagram;
  font-size: 2rem;
  transform: scale(1.5);
  &:hover {
    transition: 0.3s;
    color: $instagram-hover;
    transform: rotate(10deg) scale(2);
  }
}
