.myskills-container {
  width: 100%;
  height: 100vh;
}
.skills-lists {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  li {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .stack-list img {
    width: 60px;
  }
}
