@import "./styles/Variables.scss";

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: $alternate-background-color;
  color: $dark-grey-text-color;
}

.app-container {
  padding: 80px;
  padding-bottom: 0px;
}

.spacing-bar__short {
  height: 3px;
  width: 250px;
  background-color: $dark-grey-text-color;
}

.spacing-bar__long {
  height: 3px;
  width: 100%;
  background-color: $dark-grey-text-color;
}

@media only screen and (max-width: 600px) {
  .app-container {
    padding: 20px;
  }
}
