.aboutme-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.aboutme-description {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.aboutme-carousel {
  height: 100%;
  width: 50%;
}

@media only screen and (max-width: 1500px) {
  .aboutme-container {
    flex-direction: column;
  }
  .aboutme-description {
    margin-top: 40px;
    width: 100%;
  }
  .aboutme-carousel {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
}
